# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/

# Captured media (screenshots, webcam, mic recordings)
captures/*
!captures/.gitkeep

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
